<div class="container">
  <h1>Text Content</h1>
  <p>This page simply displays textcontent that has been set by javascript</p>

  <h2>Example .1: Passing it in an html element with a variable</h2>
  <p  class="italic" id='subtotal'></p>

  <h2>Example .2: Passing it in an html element with a function</h2>
    <p class="italic" id='message'></p>

  <!-- javascript_include_tag "text_content.js" -->
</div>
<script src="/assets/text_content.js"></script>
